body {
    font-family: Arial, sans-serif;
}

.calculators {
    display: flex;
    justify-content: center; /* Adjusted to align calculators to the start */
    gap: 20px; /* Added to control spacing between calculators */
}

.calculator {
    position: relative;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 5px; /* Reduced horizontal margin */
    background-color: #fff;
}

.calculator h2 {
    text-align: center;
}

.calculator label {
    display: block;
    margin-top: 10px;
}

.calculator input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.calculator button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #6E98AD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #053856;
}

.calculator input[readonly] {
    color: red;
    cursor: copy;
}

.calculator p {
    margin-top: 20px;
    font-weight: bold;
    color: red;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.overlay-content {
    text-align: center;
    padding: 20px;
}

.overlay-content h2 {
    margin-bottom: 20px;
}

.overlay-content p {
    margin-bottom: 20px;
}

.overlay-content button {
    padding: 10px 20px;
    background-color: #6E98AD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.overlay-content button:hover {
    background-color: #053856;
}
